.bodybackgrd {
  --background-color: whitesmoke;
  background: url('../images/bg01.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  --width: 100%;
  min-height: 100vh;
}

.customcard {
	border-radius: 25px;
	--max-width: 880px;
	min-height: 70vh;
	opacity: 0.9;
	filter: alpha(opacity=90); /* For IE8 and earlier */
	--background-image:url('../images/bg02.jpg');
	--background-size: 25%;
	--background-position: center;
	--background-repeat: no-repeat;
}


